name: Deploy Next.js Docker App

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/varahanarasimha-portfolio/my-app

            git pull origin main

            docker build -t narasimha-app .

            docker stop nextjs-app || true
            docker rm nextjs-app || true

            docker run -d --name nextjs-app -p 9676:3000 narasimha-app
