name: Deploy Next.js to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          clean: true

      - name: Install dependencies
        run: |
          cd narasimha248625/varahanarasimha-portfolio/my-app
          npm install

      - name: Build Next.js
        run: |
          cd narasimha248625/varahanarasimha-portfolio/my-app
          npm run build
